@import url("base.css");
@import url("header.css");
@import url("footer.css");
@import url("general-classes.css");

@media (max-width: 1366px) {
    .products__inner_extended {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .sort-products__grid-change {
        display: none;
    }

    .sort-products__buttons {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
    }

    .products__inner {
        gap: 10px 10px;
    }

    .product .product__title {
        font-size: 18px;
        height: 80px;
        margin-bottom: 5px;
    }

    .product .product__author {
        height: 50px;
        font-size: 16px;
    }

    .product .price {
        font-size: 18px;
    }

    .action-button {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .products__inner_extended {
        grid-template-columns: repeat(1, 1fr);
    }

    .sort-products__buttons {
        align-items: center;
    }

    .sort-products {
        display: flex;
        justify-content: center;
    }

    .product .product__title {
        height: 50px;
    }

    .product .product__author {
        height: 35px;
    }
}